/*=============================*/
/* ROOT */
/*=============================*/
:root {
    --font: 'Nirmala UI', sans-serif;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 20);
    --color-light: #fff2ce;
    --color-black: #000;
    --color-gray: #373737;
    --color-yellow: #ffe53b;
    --color-red: #ff2525;
    --color-red-2: #ec1119;
}
