@import 'fonts';
@import 'media';
@import 'root';
@import 'reset';
@import 'loader';
@import 'swiper';

/*=============================*/
/* GLOBAL SETTINGS */
/*=============================*/
html {
    height: 100%;

    main {
        display: flex;
        align-items: center;
        flex: 1;
        background-image: url('../img/bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: var(--color-white);

        @include mobileBig {
            background-position: 24%;
        }
    }
}

body {
    height: 100%;

    &.lock {
        overflow: hidden;
    }
}

.content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.section {
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1370px;
    padding: 30px;
    margin: 0 auto;

    @include tabletBig {
        padding: 20px;
    }

    @include mobileSmall {
        padding: 20px 15px;
    }
}

/*=============================*/
/* TYPOGRAPHY */
/*=============================*/
body * {
    font-family: var(--font);
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
    transition: all 0.3s;

    &:link,
    &:visited,
    &:active,
    &:hover {
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
}

iframe {
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.label {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    border-radius: 40px;
    border: 2px solid var(--color-white);
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
    }

    @include tabletBig {
        padding: 16px;
    }

    @include mobileBig {
        padding: 10px;
    }

    &__text {
        position: relative;
        display: flex;
        font-size: 36px;
        line-height: 1em;

        @include tabletBig {
            font-size: 20px;
        }

        @include mobileBig {
            font-size: 16px;
            line-height: 1.2em;
        }
    }
}

.text {
    position: relative;
    width: 100%;
    font-size: 32px;
    line-height: 1.4em;

    @include tabletBig {
        font-size: 24px;
    }

    @include mobileBig {
        font-size: 18px;
    }

    &__upper {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__type-2 {
        font-size: 28px;
        letter-spacing: 0.2em;
        color: var(--color-light);

        @include tabletBig {
            font-size: 20px;
        }

        @include mobileBig {
            font-size: 12px;
        }
    }

    &__type-3 {
        line-height: 1.3em;

        @include tabletBig {
            font-size: 26px;
        }

        @include mobileBig {
            font-size: 18px;
        }
    }
}

.title {
    position: relative;
    font-weight: 700;
    line-height: 1.3em;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--color-white);
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, var(--color-red) 0%, var(--color-yellow) 50%);
}

h1,
.h1 {
    font-size: 120px;

    @include tabletBig {
        font-size: 72px;
    }

    @include mobileBig {
        font-size: 48px;
    }
}

h2,
.h2 {
    font-size: 84px;

    @include tabletBig {
        font-size: 48px;
    }

    @include mobileBig {
        font-size: 24px;
    }
}

h3,
.h3 {
    font-size: 64px;

    @include tabletBig {
        font-size: 48px;
    }

    @include mobileBig {
        font-size: 24px;
    }
}

/*=============================*/
/* BUTTONS */
/*=============================*/
.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 322px;
    height: 84px;
    padding: 0 20px;
    border-radius: 4px;
    background-image: linear-gradient(45deg, var(--color-yellow) 0%, var(--color-red) 93%);
    transition: all 0.3s;

    &:active {
        transform: translateY(5px);
    }

    &:hover {
        box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);

        &.btn__type-2 {
            box-shadow: 0 0 2px var(--color-white);
            background-color: var(--color-gray);
        }

        .btn__text {
            transform: scale(0.75);
        }
    }

    @include tabletBig {
        height: 70px;
    }

    @include tabletSmall {
        min-width: 250px;
    }

    @include mobileBig {
        width: 100%;
        min-width: auto;
        height: 56px;
    }

    &__type-2 {
        border: 2px solid var(--color-white);
        background-image: none;
    }

    &__size-2 {
        min-width: 464px;

        @include mobileBig {
            min-width: auto;
        }
    }

    &__full {
        width: 100%;
    }

    &__text {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        color: var(--color-white);
        text-transform: uppercase;
        pointer-events: none;
        transition: all 0.3s;

        @include tabletBig {
            font-size: 28px;
        }

        @include mobileBig {
            font-size: 24px;
        }
    }
}

.arrow-btn {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;

    &:hover {
        .arrow-btn__circle {
            box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
        }

        .arrow-btn__icon {
            transform: translateX(20px);

            @include tabletBig {
                transform: translateX(10px);
            }

            @include mobileBig {
                transform: translateX(8px);
            }
        }
    }

    &__right {
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }

    &__circle {
        position: relative;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, var(--color-yellow) 0%, var(--color-red) 93%);
        transition: all 0.3s;

        @include tabletBig {
            width: 66px;
            height: 66px;
        }

        @include mobileBig {
            width: 46px;
            height: 46px;
        }
    }

    &__icon {
        position: absolute;
        width: 100px;
        stroke-width: 0.75px;
        stroke: var(--color-white);
        transform: translateX(30px);
        transition: all 0.3s;

        @include tabletBig {
            width: 70px;
            transform: translateX(20px);
        }

        @include mobileBig {
            width: 50px;
            transform: translateX(12px);
        }
    }
}

.sound-btn {
    position: fixed;
    z-index: 1;
    top: 48px;
    right: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--color-red-2);
    transition: all 0.3s;

    &:not(.sound-btn--active):hover {
        filter: brightness(0.75);
    }

    &--stop {
        .sound-btn__line {
            opacity: 1;
            visibility: visible;
            transform: rotate(-45deg) scale(1);
        }
    }

    @include deskBig {
        right: 48px;
    }

    @include deskSmall {
        top: 32px;
        right: 32px;
    }

    @include tabletBig {
        width: 40px;
        height: 40px;
    }

    @include tabletSmall {
        top: 12px;
        right: 12px;
    }

    @include mobileBig {
        width: 30px;
        height: 30px;
    }

    &__line {
        position: absolute;
        width: calc(100% + 12px);
        height: 2px;
        background-color: var(--color-white);
        opacity: 0;
        visibility: hidden;
        transform-origin: center;
        transform: rotate(-45deg) scale(0);
        transition: all 0.3s;
    }

    &__icon {
        position: relative;
        width: 32px;
        stroke-width: 1px;
        stroke: var(--color-white);

        @include tabletBig {
            width: 24px;
        }

        @include mobileBig {
            width: 18px;
        }
    }
}
